$btn: rgba(237, 56, 64, 1);
$gradback: rgba(0, 72, 124, .7);
$grad1: rgba(234, 234, 234, .8);
$grad2: rgba(255, 255, 255, .8);
$black: rgba(26, 26, 26, 1);
$aboutbg: rgba(250, 250, 250, 1);
$bluetext: rgba(51, 122, 183, 1);
$muted: rgba(190, 190, 190, 1);

$mutedsignup: rgba(247, 247, 247, .8);
$footer: rgba(37, 37, 54, 1);
$facebook: rgba(59, 89, 152, 1);
$youtube: rgba(196, 48, 43, 1.0);
$instagram: rgba(54, 124, 207, 1.0);