@media all and (max-width: 1240px) {
    .about {
        background-size: contain
    }
}

@media all and (max-width: 1125px) {
    .about {
        background-image: url('../img/tomas-mob.jpg')
    }
}

@media all and (max-width: 960px) {
    
    .contact {

    padding: 30px 0;
    }
    .narrow-contact {
        display: flex;
        flex-direction: column-reverse;
    }

    .left-div, .right-div {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        max-width: 650px;
        img {
            width: 90%;
        }
    }

    .about {
        background-image: none
    }
    .about-text {
        max-width: 600px;
        text-align: center;
    }
}

@media all and (max-width: 720px) {
    html {
        font-size: 14px;
        p {
            font-size: 16px
        }
    }
    .container-header {
        flex-direction: column;
        align-items: flex-start;
    }
    nav {
        display: none;
        width: 100%;
    }
    ul {
        padding: 12px 0 80px;
    }
    li {
        display: block;
        width: 100%;
        text-align: center;
        padding: 1.5rem 0;
    }
    li a {
        font-size: 1.4rem
    }
    #navToggle {
        display: block
    }
    .hero {
        height: 400px
    }
    .workshop-content-vid {
        width: 400px;
        height: 225px;
    }
}

@media all and (max-width: 430px) {
    .workshop-content-vid {
        width: 320px;
        height: 180px;
    }
}