@import "normalise";
@import "colors";
@import "typography";

html {height: 100%}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

#navToggle {display: none}

header {border-bottom: 1px solid rgba(0, 0, 0, 0.15)}

.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

.narrow {
    max-width: 800px;
    padding: 0 30px;
}

#logo img {
    line-height: 0;
  padding: 12px 2px 8px;
}

nav {
  text-align: right;
  transform: 300ms all ease;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border-bottom: none;
  display: inline-block;
}

li a {
  padding: 0 1.25rem;
  text-decoration: none;
  transition: 250ms all ease;
  color: rgba(0, 0, 0, 0.65);
}

li:hover a {color: rgba(0, 0, 0, 1)}


/* Mobile Toggle */

#navToggle {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: 300ms all ease;
}

#navToggle a {
  color: black;
  display: block;
  font-size: 2em;
  font-weight: 200;
  padding: 10px 12px;
  line-height: 1em;
  text-decoration: none;
  transition: 300ms all ease;
}

#navToggle:hover a {color: lighten($black, 20)}

.hero {
    width: 100%;
    height: 600px;
    background: url('../img/hero.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    &-text {
        display: inline-block;
        max-width: 630px;
        padding: 15px;
        height: auto;
        text-align: center;
        margin-bottom: 20px;
    }
    &-btn {
        background: $btn;
        color: white;
        padding: 12px 16px;
        border-radius: 6px;
        transition: background ease-in-out 0.2s;
        cursor: pointer;
        &:hover {
            background: saturate($btn, 20);
            cursor: pointer;
        }
    }
}

.stats {
    background:
    linear-gradient($grad1, $grad2),
    url('../img/stats-img.png');
    background-position: top right;
    background-repeat: no-repeat;
    &-container {
        max-width: 900px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }

    &-flex {
        display: flex;
        align-items: center;
        margin: 10px 20px;
        
    }

    &-data {
        margin: 0;
        padding: 20px 8px;
    }
}

.about {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: $aboutbg;
    background-image: url('../img/tomas.jpg');
    background-size: 50%;
    background-position: top left;
    background-repeat: no-repeat;

    &-text {
        padding: 0 25px 25px;
        background: $aboutbg;
        max-width: 50%;
    }
}


.container-about {
    margin: 0 auto;
    max-width: 1200px; 
    display: flex;
    justify-content: flex-end;
}

.courses, .products {
    padding-top: 40px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0 80px;
    max-width: 1200px;
}

.card {
    height: 347px;
    width: 270px;
    border: 1px solid #e5e5e5;
    margin: 0 15px 40px;
    text-align: center;
    position: relative;
    overflow: hidden;
    &-image {
        background-image: url('../img/card-image.jpg');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        height: 152px;
        width: 270px;
        overflow: hidden;
        transition: all ease-in-out 0.4s;
    }
    &-content {
        padding: 0 20px;
    }
    &-footer {
        position: absolute;
        bottom: 0;
        left: 25px;
        width: 220px;
        padding: 12px 0 16px;
        border-top: 1px solid #e5e5e5;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.social {
    background: $aboutbg;
    padding-top: 40px;
    &-card{
        height: 440px;
        width: 360px;
        background: white;
        border: 1px solid #e5e5e5;
        margin: 0 20px 40px;
        text-align: center;
        position: relative;
        overflow: hidden;
    }
}

.mailing {
    padding: 40px 0 160px;

    &-container {
        text-align: center;
        background: $mutedsignup;
        border: 1px solid #e5e5e5;
        height: 250px;
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.sub {
    padding: 6px 0;
    text-align: center;
    &-input {
        font-size: 1.1rem;
        padding: 9px;
        margin: 0;
        width: 330px;
        border: 1px solid #e5e5e5;
        outline: none;
        &:focus {
            border-color: $btn;
        }
    }
    &-button {
        height: 41px;
        font-size: 1.1rem;
        background-color: $btn;
        color: white;
        border: none;
        padding: 10px 20px 11px;
        margin-left: -4px;
        vertical-align: top;
    }
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background: url('../img/footer-bg.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    p {
        color: $grad2;
        font-size: .76em;
    }
}

.footer-socials {
    max-width: 200px;
    margin: 1.5rem auto;
}


// Workshop Page //

.workshop {
    background: url('../img/hero-dark.jpg') no-repeat center center fixed; 
    background-size: cover;
    margin: 0;
    padding: 0;

    h1, h2, h4 {
        color: white;
        text-align: center;
        margin: 0;
        text-transform: none;
    }
    h2 {
        margin: 0 0 .4em 0;
        color: red;
    }
    h4 {
        margin: 1em;
        opacity: 0.8;
    }
    h5 {
        color: white;
        opacity: 0.8;
        
    }

}

.workshop-container {
    margin: 0 auto 0;
    max-width: 850px;
    padding-top: 50px;
}

.workshop-content {
    text-align: center;
    &-vid {
        width: 640px;
        height: 360px; 
    }
}

.no-bg {
    background: none;
    border: none;
}



// Secondary Page //

.secondary-page {
    
    .hero {
        height: auto;
        background: url('../img/hero.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        &-text {
            margin-bottom: 0;
            padding: 30px;
        }
    }

    &-content {
        padding-top: 80px;
    }

    .products .card {
        height: 400px;

        &-content {
            padding-bottom: 15px;
        }

        &-footer {
            justify-content: center;
            align-items: center;
        }
    }

    .courses {
        background: $aboutbg;
    }

    .social {
        background: white;
    }

    .mailing {
        background: $aboutbg;
    }
}


// Contact //

.contact {
    height: 580px;
    background-color: white;
    background-image: url('../img/mockup.png'), linear-gradient(white, darken($aboutbg, 10));
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
    padding-top: 80px;
}
.narrow-contact {
    max-width: 1000px;
    padding: 0 30px;
}

.left-div {
    margin: 0;
    max-width: 500px;
    h3 {
        padding-bottom: 22px; 
    }
}

@import "media-queries";